@charset "utf-8";

body {
	background: #EDEFF0; float: left; width: 100%; position: absolute;
}

.header {
	top: 0; left: 0; width: 100%; height: 40px; background: #FFFFFF; z-index: 100; position: fixed; width: 100%; border-bottom: 1px solid #bbb;
}

.header .header-in {
	width: 1200px; height: 40px; margin: 0 auto;
}

.header .head-logo {
	float: left; width: 20%; height: 40px;
	/* 	background: url(../img/logo.png); */
}

.header .head-logo a {
	display: block; width: 100%; height: 40px; line-height: 40px; margin-left: 20px; font-size: 25px; font-weight: bold; color: #12A4FD; text-decoration: blink;
}

.header .head-fun-nav {
	width: 80%; height: 40px; float: right; background: #FFFFFF;
}

.header .head-fun-nav ul {
	margin-right: 10px;
}

.header .head-fun-nav ul li {
	color: #000000; float: right; padding: 0 4px; line-height: 40px; width: 100px; text-align: center; cursor: pointer;
}

.header .head-fun-nav ul li a {
	width: 100%; height: 100%; float: left; color: #000000;
}

.header .head-fun-nav ul li:hover {
	color: #fff; float: right; padding: 0 4px; line-height: 40px; width: 100px; text-align: center; background: #313142; cursor: pointer;
}

.header .head-fun-nav ul li:hover a {
	color: #ffffff; text-decoration: none;
}

.content {
	margin: 0 auto; min-height: 768px; display: block; overflow: hidden; width: 1180px; background: #FFFFFF; margin-top: 60px;
}

.content-left {
	width: 922px; min-height: 768px; float: left; padding-top: 20px;
}

.content-left .content-left-top {
	width: 916px; min-height: 100px; margin-left: 5px; overflow: auto;
}

.content-left .content-left-top-body ul {
	width: 100%; float: left;
}

.content-left .content-left-top-body ul li {
	width: 24.5%; height: 30px; margin-left: 0.5%; float: left; margin-top: 5px; text-indent: 10px; border-radius: 10px; background: #EAEAEA; overflow: hidden;
}

.content-left .content-left-top-body ul li:hover {
	width: 24.5%; height: 30px; margin-left: 0.5%; float: left; cursor: pointer; overflow: hidden;
}

.content-left .content-left-top-body ul li a {
	height: 30px; line-height: 30px; cursor: pointer; color: #000; overflow: hidden; margin-right: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; float: left; width: 100%;
}

.content-left .content-left-body {
	width: 100%; margin-top: 10px;
}

.content-right {
	width: 245px; min-height: 768px; float: right; margin-right: 6px; padding-top: 20px;
}

.wrap-box {
	width: 225px; min-height: 300px; float: left; margin-left: 5px;
}

.block {
	width: 100%; float: left; margin-bottom: 10px; background: #ffffff;
}

.add-block-btn {
	display: block; text-align: center; font-size: 100px; color: #E0E0E0; cursor: pointer; border: 2px dashed #dedede; height: 101px; line-height: 101px;
}

.add-block-btn:hover {
	background: #F7F7F7; color: #85BEFB;
}

.block .block-head {
	float: left; cursor: move;
}

.block .block-head .block-head-title {
	float: left; cursor: pointer;
}

.block .block-head .block-head-title .updatetitle {
	outline: none; border: 0; height: 30px;
}

.block .block-head .block-head-func {
	float: right; margin-right: 5px; height: 30px;
}

.block .block-head .block-head-func span {
	margin-right: 2px;
}

.block .block-body {
	width: 100%; float: left; background: #F7F7F7;
}

.block .block-body ul {
	min-height: 25px; width: 100%; float: left;
}

.block .block-body ul li {
	width: 100%; float: left; overflow: hidden;
}

.block .block-body ul li:hover {
	width: 100%; float: left; overflow: hidden; background: #EFEFEF;
}

.block .block-body ul li a {
	max-width: 205px; float: left; height: 25px; text-indent: 10px; line-height: 28px; cursor: pointer; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.block .block-body ul li.lock-url {
	width: 100%; float: left; height: 100px; background: url(../img/lock.png) no-repeat center; cursor: pointer; background-color: #F7F7F7 !important;
}

.block .block-body ul li.lock-url:hover {
	background: url(../img/lock-h.png) no-repeat center;
}

.block .block-body ul li.lock-url.unlock {
	background: url(../img/unlock.png) no-repeat center;
}

.block .block-body ul li.unlock-url {
	width: 100%; float: left; height: 25px; line-height: 25px; background: #F7F7F7 !important;
}

.block .block-body ul li.unlock-url .unlocktxt {
	float: left; height: 25px; line-height: 25px; width: 40px; text-align: center;
}

.block .block-body ul li.unlock-url .unlockpsw {
	width: 140px; height: 20px; text-indent: 5px; line-height: 20px; float: left; none; border: 1px solid #E6E6E6; text-indent: 5px; line-height: 20px;
}

.block .block-body ul li.unlock-url .unlockbtn {
	width: 25px; height: 25px; float: left; background: url(../img/icon/key.png) no-repeat center; margin-left: 10px; cursor: pointer; opacity: 0.6;
}

.block .block-body ul li.unlock-url .unlockbtn:hover {
	opacity: 1;
}

.footer {
	bottom: 0; width: 100%; height: 150px; background: #EDEFF0;
}

.footer .footer-in {
	width: 1200px; height: 150px; margin: 0 auto; box-shadow: 0 -5px 2px -2px #DADADA; border-radius: 2px 2px 0 0;
}

.box-title {
	border-radius: 5px 5px 0 0;
}

.head-style {
	width: 100%; height: 30px; line-height: 30px; text-indent: 10px; border-radius: 5px 5px 0px 0px; border-bottom: 1px solid #000; text-indent: 10px; background: #EDEFF0;
}

.head-style.modify {
	width: 100%; height: 30px; line-height: 30px; text-indent: 10px; border-radius: 0px 0px 0px 0px; border-bottom: 2px dashed #bbb; text-indent: 10px;
}

/* 广告位 */
.adv-show {
	width: 100%; height: 100px; float: left; font-size: 50px; text-align: center; line-height: 100px;
}

/*大分类Banner*/
.category-tabs {
	width: 100%; height: 30px; line-height: 30px; float: left; margin-bottom: 10px; background: #F7F7F7; border: 1px solid #EDEFF0; border-bottom-color: #00A726;
}

.category-tabs .tab-item {
	height: 100%; float: left; background: white; border-right: 1px solid #EDEFF0; text-align: center; cursor: pointer; padding: 0 20px 0 20px;
}

.category-tabs .tab-item.first {
	margin-left: 5px; border-left: 1px solid #EDEFF0;
}

.category-tabs .tab-item.selected {
	border: 1px solid #00A726; border-bottom: none; border-top-width: 3px; height: 28px; background: #fff !important;
}

.category-tabs .tab-item:hover {
	background: #EFEFEF;
}

.category-tabs .tab-func {
	width: 30px; height: 100%; color: #E6E6E6; font-size: 20px; float: right; border-right: none; overflow: hidden; padding: 0 0 0 0; color: #E6E6E6;
}

.category-tabs .tab-func .btn {
	width: 100%; height: 100%; float: left; text-decoration: none; cursor: pointer; position: relative; border: 1px solid #EAEAEA; border-top: none;
}

.category-tabs .tab-func .btn:hover {
	background-color: #EFEFEF;
}

.category-tabs .tab-func .menu {
	background: #fff url(../img/icon/menu.png) no-repeat center; border-bottom: 1px solid #00A726; cursor: default;
}

.category-tabs .tab-func .add {
	background: #fff url(../img/icon/add.png) no-repeat center;
}

.category-tabs .tab-func .upd {
	background: #fff url(../img/icon/edit.png) no-repeat center;
}

.category-tabs .tab-func .del {
	background: #fff url(../img/icon/del.png) no-repeat center;
}

/* 侧边栏式样  */
.sideBanner {
	position: fixed; right: 0; bottom: 15px; z-index: 9999;
}

.sideBanner div {
	width: 50px; height: 50px; text-align: center; line-height: 50px; font-size: 13px; margin-bottom: 1px; background: #FFFFFF;
}

.sideBanner div span {
	width: 30px; height: 100%; display: inline-block; text-align: center; line-height: normal; margin-top: 10px;
}

.sideBanner .fun1 {
	background: #FFCDCD;
}

.sideBanner .fun1:hover {
	cursor: pointer; background: #D42424; color: #FFFFFF; -webkit-transition: color .2s linear, background-color .2s linear; transition: color .2s linear, background-color .2s linear;
}

.sideBanner .fun2 {
	background: #C1F0FB;
}

.sideBanner .fun2:hover {
	cursor: pointer; background: #0083D2; color: #FFFFFF; -webkit-transition: color .2s linear, background-color .2s linear; transition: color .2s linear, background-color .2s linear;
}

.sideBanner .scrolltop {
	background: #DEDEDE;
}

.sideBanner .scrolltop:hover {
	cursor: pointer; background: #868686; color: #FFFFFF; -webkit-transition: color .2s linear, background-color .2s linear; transition: color .2s linear, background-color .2s linear;
}

.sideBanner .trashcan {
	background: #9EECA8;
}

.sideBanner .trashcan:hover {
	cursor: pointer; background: #4BB73F; color: #FFFFFF; -webkit-transition: color .2s linear, background-color .2s linear; transition: color .2s linear, background-color .2s linear;
}

/* 添加分类 */
.newbtnsbox {
	width: 100%; float: left; margin-bottom: 10px; text-align: center;
}

.content-right .newbtns {
	background: #FFF; width: 47%; height: 100px; box-shadow: 1px 1px 5px #D4D4D4, -1px -1px 5px #D4D4D4;
}

.content-right .newbtn {
	width: 100%; float: left; height: 30px; line-height: 30px; color: #fff; cursor: pointer;
}

.content-right .newbtn:hover {
	width: 100%; float: left; height: 30px; line-height: 30px; color: #fff; box-shadow: 1px 1px 1px #737373, -1px -1px 1px #737373; cursor: pointer;
}

.content-right .newbtn.categorybtn {
	background: #046BD8;
}

.content-right .newbtn.bookmarkbtn {
	background: #00A726;
}

.content-right .count {
	width: 100%; float: left; height: 50px; line-height: 50px; font-size: 30px; font-weight: bold; overflow: hidden;
}

.content-right .count label {
	position: relative;
}

.content-right .categorycount {
	width: 100%; float: left; height: 50px; line-height: 50px; color: #046BD8; font-size: 30px; font-weight: bold;
}

.content-right .bookmarkcount {
	width: 100%; float: left; height: 50px; line-height: 50px; color: #00A726; font-size: 30px; font-weight: bold;
}

.content-right .newbtns .desc {
	width: 100%; float: left; height: 20px; background: #EAEAEA; line-height: 20px; color: #000000;
}

/* 标签样式 */
.notes {
	width: 100%; float: left; margin-bottom: 10px; background: #ffffff;
}

.notes .notes-head {
	float: left;
}

.notes .notes-head .notes-head-title {
	float: left; cursor: pointer;
}

.notes .notes-head .notes-head-func {
	float: right; margin-right: 5px; height: 30px;
}

.notes .notes-head .notes-head-func span {
	margin-right: 2px;
}

.notes .notes-body {
	width: 100%; float: left; min-height: 50px;
}

.notes .notes-body .load {
	width: 100%; float: left; text-align: center; margin-top: 60px; min-height: 130px;
}

.filter-load {
	width: 100%; float: left; text-align: center; margin-top: 70px;
}

.notes .notes-body ul {
	width: 100%; float: left; margin-top: 5px;
}

.notes .notes-body ul li {
	width: auto; float: left; margin: 2px 2px 2px 2px; height: 25px; line-height: 25px; padding: 0px 4px; cursor: pointer; border-radius: 5px; color: #0087C5; border: 1px solid #DCDCDC; box-shadow: 1px 1px 1px #F3F3F3, -1px -1px 1px #F3F3F3;
}

.notes .notes-body ul li:hover {
	cursor: pointer; background: #046BD8; color: #fff;
}

.notes .notes-body ul li.flitered {
	cursor: pointer; background: #046BD8; color: #fff;
}

/* 活跃用户 */
.users {
	width: 100%; float: left; margin-bottom: 10px; background: #ffffff;
}

.users .users-head {
	float: left;
}

.users .users-head .users-head-title {
	float: left;
}

.users .users-body {
	width: 100%; float: left;
}

.users ul {
	width: 100%; float: left; text-align: center;
}

.users ul li {
	width: 60px; height: 60px; float: left; background: #C1F0FB; margin: 2px 0px 0px 1px; cursor: pointer;
}

.users ul li:hover {
	width: 60px; height: 60px; float: left; background: #FFCDCD; margin: 2px 0px 0px 1px; cursor: pointer;
}

.users ul li span {
	width: 30px; height: 100%; display: inline-block; text-align: center; line-height: normal; margin-top: 10px;
}

/* 添加右边栏模块 */
.modules {
	width: 100%; float: left;
}

.modules .addmodules {
	width: 100%; float: left; text-align: center; font-size: 100px; color: #E0E0E0; cursor: pointer; margin-bottom: 20px;
}

.modules .addmodules:hover {
	width: 100%; float: left; text-align: center; font-size: 100px; color: #E0E0E0; background: #F7F7F7; cursor: pointer;
}

/* 快速检索 */
.fast-search {
	width: 98%; margin: 0 auto; padding: 10px 0 0 0;
}

.fast-search input {
	height: 25px; width: 83%; float: left; text-indent: 5px; line-height: 25px;
}

.fast-search .fast-search-input {
	border: 1px solid #E6E6E6;
}

.fast-search .fast-search-input:focus {
	border: 1px solid #E6E6E6; box-shadow: 1px 1px 1px #B9B9B9;
}

.fast-search span {
	height: 27px; width: 13%; float: right; text-align: center; line-height: 27px; color: #fff; background: #046BD8; cursor: pointer; border-radius: 5px;
}

.fast-search .fast-search-btn {
	box-shadow: 1px 1px 5px #D4D4D4, -1px -1px 5px #D4D4D4;
}

.fast-search .fast-search-btn:hover {
	box-shadow: 1px 1px 1px #737373, -1px -1px 1px #737373;
}

/*快速检索结果列表*/
.notes .fast-search-list {
	display: none; width: 100%; float: left; position: relative; background: url(../img/targettop.png) no-repeat 0px 0px; padding-top: 12px;
}

.notes .fast-search-list a {
	color: #000; width: 100%; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.notes .fast-search-list a:hover {
	color: #fff; text-decoration: none;
}

.notes .fast-search-list .filter-ul {
	width: 100%; height: auto; background: #F7F7F7; float: left; overflow: hidden; margin: 0 0 0 0; border-top: 2px solid #046BD8; border-bottom: 2px solid #046BD8; position: absolute; box-shadow: 2px 2px 5px #9C9C9C;
}

.notes .fast-search-list .filter-ul li {
	width: 100%; float: left; text-indent: 5px; margin: 0 0 0 0; border-radius: 0px; border: none; box-shadow: none; padding: 0px 0px; overflow: hidden;
}

.notes .fast-search-list .filter-ul li:hover {
	background: #00A726;
}

.notes .fast-search-list .filter-ul li.parent-li {
	float: left; height: auto; overflow: hidden;
}

.notes .fast-search-list .filter-ul li.parent-li .catetory-name {
	width: 100%; float: left; background: #046BD8; cursor: default; color: #fff;
}

.notes .fast-search-list .filter-ul li.parent-li:hover {
	color: #0087C5; background: #F7F7F7;
}

.notes .fast-search-list .filter-ul .child-ul {
	width: 100%; float: left; margin: 0 0; border-bottom: 1px solid #046BD8;
}

.notes .fast-search-list .filter-ul .child-ul li {
	width: 100%; float: left; text-indent: 20px;
}

.notes .fast-search-list .filter-ul li.selected {
	background: #00A726;
}

.notes .fast-search-list .filter-ul li.selected a {
	color: #fff;
}

/*公用CSS*/
.display-none {
	display: none;
}

/* 设置页面 */
.set_menu {
	width: 17.5%; max-width: 208px; float: left; min-height: 700px; border-right: 1px solid #e7e7eb;
}

.menu_box {
	margin-bottom: 150px;
}

.set_menu .menu {
	padding-top: 6px; padding-bottom: 6px;
}

.menu.no_extra {
	margin-top: 13px;
}

.menu_title {
	margin-bottom: 0; position: relative; padding: 0 30px 0; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; line-height: 34px; color: #8d8d8d; background: #F7F7F7;
}

.icon_menu {
	margin-right: 10px; margin-top: -0.2em; width: 18px; height: 18px; vertical-align: middle; display: inline-block;
}

.menu_item {
	line-height: 34px;
}

.menu_item a {
	display: block; padding: 0 0 0 58px; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; color: #222;
}

.menu_item:hover {
	background: #F7F7F7;
}

.menu_item:hover a {
	text-decoration: none;
}

.set_main {
	overflow: auto;
}

.main_hd {
	line-height: 40px;
}

.main_hd h2 {
	font-size: 16px; padding: 0 30px; line-height: 75px; font-weight: 400; font-style: normal;
}

.main_hd h2 a {
	color: #000;
}

.main_hd .title_tab {
	margin-top: -14px;
}

.tab_navs {
	text-align: center; line-height: 30px; border-bottom: 1px solid #e7e7eb; box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

.tab_navs:after {
	content: "\200B"; display: block; height: 0; clear: both;
}

.title_tab .tab_navs {
	line-height: 40px; border-bottom-color: #e7e7eb; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}

.title_tab .tab_nav.selected {
	background: 0; border-bottom: 3px solid #44b549;
}

.title_tab .tab_nav {
	margin-bottom: -1px;
}

.tab_nav.selected {
	background-color: #d4d5d5;
}

.tab_nav {
	float: left; font-size: 14px; border-bottom: 1px solid #e7e7eb;
}

.title_tab .tab_nav.first a,.title_tab .tab_nav:first-child a {
	padding-left: 30px;
}

.title_tab .tab_nav a {
	padding: 0 22px;
}

.tab_nav a {
	display: block; text-decoration: none; color: #222; outline: 0; padding: 0 20px;
}

/*设置：安全中心*/
.main_bd {
	padding-bottom: 30px;
}

.safe_item {
	padding: 15px 30px; border-bottom: 1px solid #e7e7eb;
}

.safe_item dl {
	position: relative;
}

.safe_item .title {
	margin-bottom: 5px; font-size: 14px;
}

.safe_item .opr {
	float: right;
}

.safe_item .desc {
	display: table-cell; vertical-align: top; float: none; width: auto; color: #8d8d8d;
}

.highlight_box {
	position: relative; padding: 9px 30px; background-color: #f4f5f9; margin-bottom: 20px; line-height: 1.6;
}

.highlight_box .desc {
	color: #8d8d8d; overflow: hidden;
}

.setpsw-box {
	padding-top: 40px; width: 500px; margin: 0 auto; height: 400px; margin-top: 50px;
}

.frm_controls {
	width: 100%; float: left; padding-bottom: 40px; height: 30px; line-height: 30px;
}

.frm_controls .input-label {
	width: 100px; float: left; text-align: center;
}

.frm_controls .frm_input_box {
	width: 300px; float: left; height: 100%;
}

.frm_controls .frm_input_box .frm_input {
	width: 100%; height: 100%; float: left; text-indent: 10px;
}

.frm_controls .frm_input_box .frm_msg {
	width: 100%; float: left;
}

.frm_controls .frm_submit_box {
	width: 100px; margin: 0 auto; height: 100%; padding-top: 50px;
}

.frm_controls .frm_submit_box .frm_submit {
	width: 100%; height: 100%; text-align: center; float: left; background: #44b549; color: #fff; border-radius: 3px; text-decoration: none;
}

.frm_controls .frm_submit_box .frm_submit:hover {
	background: #139619;
}

/* 表单验证样式 */
input.error {
	border: 1px solid red !important; background: #FFEFEF; color: red;
}

label.error {
	float: left; width: 100% !important; text-align: left; color: red;
}