/* 以下是sortable插件拖动占位的样式 */
.hot-url-list-placeholder {
	width: 24.5%; margin-left: 0.5%; float: left; margin-top: 5px; text-indent: 10px; border-radius: 10px; background: url(../img/icon/xian.png) repeat !important; opacity: 0.6;
}

.block-placeholder {
	width: 223px; height: 100px; float: left; margin-bottom: 20px; background: url(../img/move.png) center no-repeat !important; opacity: 0.6; border: 2px dashed #dedede;
}

.url-list-placeholder {
	width: 100%; float: left; height: 30px; background: url(../img/icon/xian.png) no-repeat !important; opacity: 0.6;
}

/* 以下是操作书签按钮的样式 */
.operatebtn {
	float: right; margin-top: 2px;
}

.confirmicon {
	width: 20px; height: 20px; margin-top: 6px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/confirm.png);
}

.cancelicon {
	width: 20px; height: 20px; margin-top: 6px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/cancel.png);
}

.cancelicon:hover {
	width: 20px; height: 20px; margin-top: 6px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/cancel-h.png);
}

.menuicon {
	width: 14px; height: 14px; margin-top: 8px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/menu.png);
}

.menuicon:hover {
	width: 14px; height: 14px; margin-top: 8px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/menu-h.png);
}

.closeicon {
	width: 14px; height: 14px; margin-top: 8px; cursor: pointer; float: right; margin-right: 2px; background: url(../img/icon/close.png);
}

.closeicon:hover {
	width: 14px; height: 14px; margin-top: 8px; cursor: pointer; float: right; margin-right: 2px; background: url(../img/icon/close-h.png);
}

.staricon {
	width: 16px; height: 16px; margin-top: 6px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/star.png);
}

.staricon:hover {
	width: 16px; height: 16px; margin-top: 6px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/star-h.png);
}

.staricon.light {
	width: 16px; height: 16px; display: block; margin-top: 5px; cursor: pointer; float: left; margin-right: 2px; background: url(../img/icon/stard.png);
}

.editicon {
	width: 16px; height: 16px; margin-top: 6px; cursor: pointer; float: left; background: url(../img/icon/edit.png);
}

.editicon:hover {
	width: 16px; height: 16px; margin-top: 6px; cursor: pointer; float: left; background: url(../img/icon/edit-h.png);
}

.delicon {
	width: 16px; height: 16px; margin-top: 5px; cursor: pointer; float: left; background: url(../img/icon/del.png);
}

.delicon:hover {
	width: 16px; height: 16px; margin-top: 5px; cursor: pointer; float: left; background: url(../img/icon/del-h.png);
}

.add-url {
	width: 100%; float: left;
}

.addicon {
	background: url(../img/icon/add-b.png) no-repeat center; width: 20px; height: 30px; float: right; cursor: pointer; margin-right: 5px; margin-top: 1px;
}

.addicon:hover {
	background: url(../img/icon/add-b-h.png) no-repeat center;
}

.lockicon {
	background: url(../img/icon/lock.png) no-repeat center; width: 20px; height: 30px; float: right; cursor: pointer; margin-right: 5px;
}

.lockicon:hover {
	background: url(../img/icon/lock-h.png) no-repeat center;
}

/* 分类内部新增书签样式 */
.pointto {
	background: url(../img/icon/pointto.png) -2px 5px no-repeat !important; box-shadow: 0px -1px 2px #bbb, 0px 1px 2px #bbb; z-index: 100; position: relative;
}

.save-success {
	background-image: url(../img/icon/validpass.png) !important; background-repeat: no-repeat !important; background-position: 0px 0px !important; z-index: 101; position: relative; z-index: 101;
}

/* 新增书签 */
.addbookmark,.editbookmark {
	float: left; text-align: center; width: 100%; height: auto; overflow: auto; border-top: 2px solid #00A726; border-bottom: 2px solid #00A726; background: #fff;
}

.addbookmark p.edit-title,.editbookmark p.edit-title {
	width: 100%; float: left; height: 30px; line-height: 30px; text-align: center; height: 30px;
}

.addbookmark p,.editbookmark p {
	width: 100%; display: inline-block; min-height: 30px; height: auto;
}

.addbookmark p label,.editbookmark p label {
	float: left; width: 30px; line-height: 25px;
}

.addbookmark p input,.editbookmark p input {
	float: left; outline: none; border: 1px solid #E6E6E6; height: 25px; width: 190px; text-indent: 5px; line-height: 25px;
}

.addbookmark p textarea,.editbookmark p textarea {
	float: left; outline: none; border: 1px solid #E6E6E6; height: 40px; width: 190px; max-width: 190px; text-indent: 5px; line-height: 20px;
}

.addbookmark p.btn,.editbookmark p.btn {
	width: 60px; margin: 0 auto; margin-top: 5px; min-height: 25px;
}

/* 删除书签 */
.delbookmark {
	float: left; text-align: center; width: 100%; height: auto; overflow: auto; background: #fff; border-bottom: 1px dashed #D2D2D2;
}

.delbookmark p {
	width: 100%; display: inline-block; min-height: 30px; height: auto;
}

.delbookmark p.btn {
	width: 60px; margin: 0 auto; margin-top: 5px; min-height: 25px;
}

.delbookmark .delconfirmmsg {
	background: url(../img/icon/hand.png) no-repeat 5px 0px; width: 100%; float: left; height: 30px; z-index: 100; font-size: 15px; font-weight: bold; line-height: 38px;
}

.delbookmark .deltip {
	height: 25px; line-height: 25px; color: #9A9A9A; width: 100%; float: left; margin-bottom: 5px;
}

/* 编辑书签的确认取消按钮 */
.confirmediticon {
	width: 20px; height: 20px; cursor: pointer; float: left; margin: 0px 20px 0px 0px; background: url(../img/icon/confirm.png) no-repeat;
}

.cancelediticon {
	width: 20px; height: 20px; cursor: pointer; float: left; margin: 0px 0px 0px 0px; background: url(../img/icon/cancel.png) no-repeat;
}

.cancelediticon:hover {
	width: 20px; height: 20px; cursor: pointer; float: left; margin: 0px 0px 0px 0px; background: url(../img/icon/cancel-h.png) no-repeat;
}

/* 飞行动画样式 */
.flystyle {
	z-index: 9000; display: block; position: absolute; background: #F7F7F7; overflow: hidden; white-space: nowrap; box-shadow: 0px -1px 2px #bbb, 0px 1px 2px #bbb;
}

.flystyle a {
	float: left; height: 25px; line-height: 28px; text-indent: 10px; color: #000;
}

/* 遮罩层样式 */
.mask {
	display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9000; background-color: #A0A0A0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50) !important; opacity: 0.5;
}

.popbox {
	display: none; position: fixed; left: 40%; top: 30%; z-index: 9999; width: 350px; background: #fff; height: auto; box-shadow: 5px 5px 20px #9C9C9C, -5px -5px 20px #9C9C9C; border-radius: 8px; position: fixed;
}

.popbox-head {
	width: 100%; height: 40px; float: left; line-height: 45px; font-size: 17px; border-bottom: 1px solid #000; text-indent: 10px; color: #000; border-radius: 8px 8px 0px 0px;
}

.popbox-body {
	width: 100%; float: left; padding-top: 10px;
}

.popbox-body .pop-item {
	width: 100%; float: left; min-height: 50px; text-align: center;
}

.popbox-body .pop-item label.name {
	width: 15%; float: left; margin-left: 2.5%; margin-right: 2.5%; text-align: center; line-height: 30px; height: 30px;
}

.popbox-body .pop-input {
	width: 75%; float: left;
}

.popbox-body .pop-input label.error {
	text-align: left; height: 20px; line-height: 20px;
}

.popbox-body .pop-input input {
	width: 100%; float: left; text-indent: 5px; height: 25px; line-height: 25px;
}

.popbox-body .pop-input textarea {
	width: 100%; max-width: 100%; float: left; text-indent: 5px; padding-right: 2px; height: 60px; padding-top: 3px;
}

.popbox-body .pop-input input[type=radio] {
	width: 20px; height: 30px; margin-right: 3px;
}

.popbox-body .pop-input .permission {
	float: left; height: 30px; text-align: left; margin-right: 10px; line-height: 30px;
}

.popbox-body .pop-input .btn {
	width: 100%;
}

.popbox-body .pop-item.psw {
	display: none; background: #F9F9F9; line-height: 50px; color: #8C8C8C;
}

.popbox-body .pop-item .btn  a {
	display: inline-block; width: 100px; height: 40px; margin: 15px 0px 15px 25px; text-decoration: none; cursor: pointer; border-radius: 5px; font-size: 14px; color: #000; line-height: 40px;
}

.popbox-body .pop-item .btn  a:hover {
	display: inline-block; width: 100px; height: 40px; background: #FF8A35; margin: 15px 0px 15px 25px; text-decoration: none; cursor: pointer; color: #fff; -webkit-transition: color .2s linear, background-color .2s linear; transition: color .2s linear, background-color .2s linear;
}

.pop-bookmark .popbox-head {
	background: #7BE693;
}

.pop-bookmark .btn a {
	background: #7BE693;
}

.pop-bookmark .exist-category-list {
	display: none; width: 75%; max-height: 112px; background: #FFFFFF; position: absolute; float: left; margin-top: 30px; padding: 0 2px 4px 2px; overflow: auto; box-shadow: 2px 2px 5px #A0A0A0, -2px 0px 5px #A0A0A0;
}

.pop-bookmark .exist-category-list li {
	width: 49%; float: left; height: 22px; line-height: 200%; cursor: pointer; color: #0087C5; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-indent: 5px; text-align: left;
}

.pop-bookmark .exist-category-list li:hover {
	background: #DCDCDC; color: #FB7E23; box-shadow: 1px 1px 1px #bbb, -1px -1px 1px #bbb;
}

.pop-bookmark .exist-category-list li.even {
	float: right;
}

.pop-category .popbox-head {
	background: #6FC2FF;
}

.pop-category .btn a {
	background: #6FC2FF;
}

.pop-parentcategory .popbox-head {
	background: #6FC2FF;
}

.pop-parentcategory .btn a {
	background: #6FC2FF;
}

.pop-callback-success,.pop-callback-error {
	top: -350px; display: block; opacity: 0.3; left: 45%; width: 200px; text-align: center; padding-bottom: 10px;
}

.pop-callback-error .callbackmsg {
	color: red;
}

.pop-subject .popbox-head {
	background: #6FC2FF;
}

.pop-subject .btn a {
	background: #6FC2FF;
}

/* alert */
.popbox-tip {
	width: 300px;
}

.popbox-tip .popbox-head {
	background: #3885D8; height: 35px; line-height: 35px; font-size: 14px; color: #fff;
}

.popbox-tip .tipimg {
	width: 28%; height: 80px; float: left;
}

.popbox-tip .tipimg img {
	width: 50px; margin: 0 auto; display: block;
}

.popbox-tip .tipmsg {
	width: 72%; height: 80px; float: left;
}

.popbox-tip .tipmsg span {
	width: 100%; text-align: left; float: left; line-height: 45px;;
}

.popbox-tip .tipbtn {
	width: 100%; float: left; text-align: center;
}

.popbox-tip .tipbtn a {
	margin: 5px 0px 10px 0px; width: 70px; height: 30px; line-height: 30px; color: #fff; background: #3885D8; display: inline-block; border-radius: 4px; text-decoration: none; cursor: pointer;
}

.popbox-tip .tipbtn .tip-cancel-btn {
	background: #A0A0A0 !important; margin-left: 10px !important;
}

/*筛选标签式样*/
.popbox-tags {
	position: fixed; position: fixed; top: 60px; width: 922px; left: 19%; box-shadow: none;
}

.popbox-tags .popbox-head {
	width: 100%; float: left; height: 30px; line-height: 30px; font-size: 12px; border-bottom: 1px solid #000; text-indent: 10px; color: #000;
}

.popbox-tags .popbox-head .close {
	margin-right: 10px;
}

.popbox-tags .popbox-body {
	padding-top: 5px; min-height: 250px; max-height: 500px; overflow: auto;
}

.popbox-tags .filter-url-list {
	width: 100%; margin: 0 auto; opacity: 0; margin-top: 40px;
}

.popbox-tags .filter-url-list li {
	width: 19%; margin-right: 0.5%; margin-left: 0.5%; margin-bottom: 5px; float: left; text-align: left; background: #ECECEC; text-indent: 5px;
}

.popbox-tags .filter-url-list li a {
	color: #fff; width: 100%; float: left; height: 30px; line-height: 30px; background: #046BD8;
}

.popbox-tags .filter-url-list li a:hover {
	background: #EC3939;
}

.popbox-tags .filter-url-list li span {
	color: #8A8A8A; width: 100%; float: left; height: 20px; line-height: 20px; text-align: left;
}

.popbox-tags .filter-url-list li.noresult {
	background: #fff; text-align: center; width: 99%; font-size: 20px; margin-top: 100px; color: #999999;
}

.filter-tags {
	position: fixed; width: 245px; z-index: 9999; border-radius: 4px;
}

/*专题编辑模板*/
.pop-subjuct {
	width: 720px; left: 25%;
}

.pop-subjuct .popbox-head {
	background: #7BE693; text-align: center;
}

.pop-subjuct .subject-btns {
	margin-top: 20px;
}

.pop-subjuct .subject-btns .btn a {
	background: #7BE693;
}

.pop-subjuct .sub-head-btns .btn a {
	background: #D3F3FF;
}

.pop-subjuct .list-subject {
	width: 300px; float: left; margin-left: 20px; margin-bottom: 20px; box-shadow: 3px 5px 20px #9c9c9c;
}

.pop-subjuct .edit-subject {
	width: 350px; float: right; margin-right: 10px; margin-top: 5px;
}

.pop-subjuct .list-subject .subject {
	width: 100%; float: left; overflow: hidden;
}

.pop-subjuct .list-subject .subject .list-item {
	height: 280px; float: left; overflow: auto; width: 100%;
}

.pop-subjuct .list-subject .subject .item {
	width: 100%; float: left; border-bottom: 1px solid #EDEFF0; position: relative;
}

.pop-subjuct .list-subject .subject .item:hover {
	background: #EDEFF0;
}

.pop-subjuct .list-subject .subject .item img {
	width: 100%; height: 120px;
}

.pop-subjuct .list-subject .subject .item .bg {
	height: 30px; background: #5D5D5D; opacity: 0.6; width: 100%; position: absolute; top: 90px;
}

.pop-subjuct .list-subject .subject .item .mt {
	position: absolute; top: 95px; color: #fff; margin-left: 10px; width: 100%; font-weight: bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.pop-subjuct .list-subject  .subject .item .con {
	height: 30px; line-height: 30px; position: relative; padding-left: 14px; border-left: 1px solid #EDEFF0; border-right: 1px solid #EDEFF0;
}

.pop-subjuct .list-subject .subject .item .con .dot {
	position: absolute; top: 14px; left: 6px; width: 3px; height: 3px; background: #ABABAB;
}

.pop-subjuct .list-subject .subject .item .con .title {
	width: 100%; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #333; text-decoration: none;
}

.pop-subjuct .list-subject .edit-sub-head {
	display: none;
}

.pop-subjuct .list-subject .edit-sub-head .e-bg {
	height: 100%; width: 100%; position: absolute; top: 0; cursor: pointer; background: #000; opacity: 0.5;
}

.pop-subjuct .list-subject .edit-sub-head .e-img {
	height: 100%; width: 100%; position: absolute; top: 0; background: url(../img/icon/edit-sub-head.png) no-repeat center; cursor: pointer;
}

.edit-subject .h-sub,.edit-subject .l-sub {
	height: 310px; width: 100%; float: left;
}

.edit-subject .h-sub .h-item {
	margin-bottom: 10px;
}

.edit-subject .h-sub .h-item .img-box {
	margin: 0 auto; display: block; width: 85%; height: 100px; background: #F9F9F9; text-align: center; line-height: 100px; font-size: 50px; margin-top: 10px; color: #bbb; cursor: pointer; border: 2px dashed #E2E2E2;
}

.edit-subject .h-sub .h-item .img-box:hover {
	color: #00A726;
}

.edit-subject .h-sub .h-item .word {
	width: 90%; height: 30px; margin: 0 auto; text-align: center; background: #D3F3FF; line-height: 30px; border-radius: 10px; display: block;
}

.edit-subject .h-sub .h-item .sub-name {
	height: 30px; width: 85%; margin: 0 auto; display: block; margin-top: 10px; text-indent: 10px;
}

.edit-subject .i-sub {
	background: #F7F7F7; float: left; text-indent: 5px; padding: 5px 0 5px 0;
}

.edit-subject .i-sub span {
	width: 100%; float: left; text-indent: 20px;
}

/* 空白模板 */
.blank-category {
	display: none;
}