.head-style {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #000;
	text-indent: 10px;
}

.hot-url-list-placeholder {
	width: 24.5%;
	margin-left: 0.5%;
	float: left;
	margin-top: 5px;
	text-indent: 10px;
	border-radius: 10px;
	background: url(../img/icon/xian.png) repeat !important;
	opacity: 0.6;
}

.block-placeholder {
	width: 225px;
	height: 165px;
	float: left;
	margin-bottom: 20px;
	background: url(../img/icon/xian.png) repeat !important;
	opacity: 0.6;
}

.url-list-placeholder {
	width: 100%;
	float: left;
	height: 25px;
	background: url(../img/icon/xian.png) repeat !important;
	opacity: 0.6;
}

.operatebtn {
	float: right;
}

.staricon {
	width: 16px;
	height: 16px;
	margin-top: 6px;
	cursor: pointer;
	float: left;
	margin-right: 2px;
	background: url(../img/icon/star.png);
	width: 16px;
}

.staricon:hover {
	width: 16px;
	height: 16px;
	margin-top: 6px;
	cursor: pointer;
	float: left;
	margin-right: 2px;
	background: url(../img/icon/star-h.png);
}

.staricon.light {
	width: 16px;
	height: 16px;
	display: block;
	margin-top: 5px;
	cursor: pointer;
	float: left;
	margin-right: 2px;
	background: url(../img/icon/stard.png);
}

.editicon {
	width: 16px;
	height: 16px;
	margin-top: 6px;
	cursor: pointer;
	float: left;
	background: url(../img/icon/edit.png);
	width: 16px;
}

.editicon:hover {
	width: 16px;
	height: 16px;
	margin-top: 6px;
	cursor: pointer;
	float: left;
	background: url(../img/icon/edit-h.png);
}

.delicon {
	width: 16px;
	height: 16px;
	margin-top: 5px;
	cursor: pointer;
	float: left;
	background: url(../img/icon/del.png);
	width: 16px;
}

.delicon:hover {
	width: 16px;
	height: 16px;
	margin-top: 5px;
	cursor: pointer;
	float: left;
	background: url(../img/icon/del-h.png);
}