<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dapeng.dao.BookmarkMapper">
	<resultMap id="BaseResultMap" type="com.dapeng.domain.Bookmark">
		<id column="bookmarkid" property="bookmarkid" jdbcType="INTEGER" />
		<result column="bookmarkname" property="bookmarkname" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="categoryid" property="categoryid" jdbcType="VARCHAR" />
		<result column="usetimes" property="usetimes" jdbcType="INTEGER" />
		<result column="fastletters" property="fastletters" jdbcType="VARCHAR" />
		<result column="pinyinhead" property="pinyinhead" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime"  />
		<result column="lastusetime" property="lastusetime" />
		<result column="updatetime" property="updatetime" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="hot" property="hot" jdbcType="VARCHAR" />
		<result column="deleteflg" property="deleteflg" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMap1" type="com.dapeng.domain.Category">
		<id column="categoryid" property="categoryid" jdbcType="INTEGER" />
		<result column="categoryname" property="categoryname" jdbcType="VARCHAR" />
		<result column="categorytype" property="categorytype" jdbcType="VARCHAR" />
		<result column="parentcategoryid" property="parentcategoryid" jdbcType="INTEGER" />
		<result column="categorypermission" property="categorypermission" jdbcType="VARCHAR" />
		<result column="categorypsw" property="categorypsw" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 书签类别操作 -->
	<select id="selectCategoryList" resultType="com.dapeng.domain.Category">
		select * from bookmark_category
	</select>
	
		<select id="selectCategoryListById" parameterType="int" resultType="com.dapeng.domain.Category">
		select * from bookmark_category 
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</select>
	<delete id="deleteCategoryById" parameterType="int">
		delete from bookmark_category
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</delete>
	<insert id="addCategory" parameterType="com.dapeng.domain.Category">
		insert into bookmark_category ( categoryname,categorytype,parentcategoryid,categorypermission,categorypsw)
		values (#{categoryname,jdbcType=VARCHAR}, #{categorytype,jdbcType=VARCHAR}
		,#{parentcategoryid,jdbcType=INTEGER},#{categorypermission,jdbcType=VARCHAR},#{categorypsw})
	</insert>
	<update id="updateCategoryBySlected" parameterType="com.dapeng.domain.Category">
		update bookmark_category
		set
		categoryname = #{categoryname}
		where categoryid = #{categoryid}
	</update>
	
	
	<!-- 书签操作 -->
	<select id="selectBookmarkList" resultType="com.dapeng.domain.Bookmark">
		select * from bookmark where deleteflg!="1"
	</select>
	<!-- 书签操作  获取同一类别书签-->
	<select id="selectBookmarkListByCategoryid" resultType="com.dapeng.domain.Bookmark">
		select * from bookmark where deleteflg!="1" and categoryid = #{categoryid}
	</select>
	<update id="setHotbookmark" parameterType="com.dapeng.domain.Bookmark">
		update bookmark
		set
		hot = "1"
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
	<update id="cancelHotbookmark" parameterType="com.dapeng.domain.Bookmark">
		update bookmark
		set
		hot = "2"
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
	
	<select id="selectHotBookmarkList" resultType="com.dapeng.domain.Bookmark">
		select * from bookmark where deleteflg!="1" and hot="1"
	</select>
	
	<!-- 回收站 -->
	<select id="selectrecycleList" resultType="com.dapeng.domain.Bookmark">
		select * from bookmark where deleteflg="1"
	</select>
	
	
	<select id="selectBookmarkListById" parameterType="int" resultType="com.dapeng.domain.Bookmark">
		select * from bookmark 
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</select>
	<!-- 逻辑删除书签 -->
	<update id="deleteBookmarkById" parameterType="int">
		update bookmark
		set deleteflg = "1"
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
	<!-- 物理删除书签 -->
	<delete id="deletePhysicsBookmarkById" parameterType="int">
		delete from bookmark
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</delete>
	<!-- 从回收站恢复书签 -->
	<update id="doRecoverBookmark" parameterType="int">
		update bookmark
		set deleteflg = "0"
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
	
	<update id="updateBookmarkCategory" parameterType="com.dapeng.domain.Bookmark">
		update bookmark
		set categoryid = #{categoryid,jdbcType=INTEGER},
			sort = #{sort,jdbcType=INTEGER}
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
	<insert id="insertBookmark" parameterType="com.dapeng.domain.Bookmark">
		insert into bookmark ( bookmarkname,url,permission,categoryid,createtime,description,deleteflg)
		values (#{bookmarkname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
		,#{permission,jdbcType=VARCHAR},#{categoryid,jdbcType=VARCHAR},#{createtime}
		,#{description,jdbcType=VARCHAR},#{deleteflg,jdbcType=VARCHAR})
	</insert>
	<update id="updateBookmarkById" parameterType="com.dapeng.domain.Bookmark">
		update bookmark
		set
		bookmarkname = #{bookmarkname,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR}
	<!-- 	permission = #{permission,jdbcType=VARCHAR},
		categoryid = #{categoryid,jdbcType=VARCHAR},
		usetimes = #{usetimes,jdbcType=INTEGER},
		fastletters = #{fastletters,jdbcType=VARCHAR},
		pinyinhead = #{pinyinhead,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=VARCHAR},
		lastusetime = #{lastusetime,jdbcType=VARCHAR},
		updatetime = #{updatetime,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=INTEGER},
		hot = #{hot,jdbcType=VARCHAR},
		deleteflg = #{deleteflg,jdbcType=VARCHAR} -->
		where bookmarkid = #{bookmarkid,jdbcType=INTEGER}
	</update>
		
	<update id="updateBookmarkBySlected" parameterType="com.dapeng.domain.Bookmark">
		update bookmark
		set
		bookmarkname = #{bookmarkname},
		url = #{url}
		where bookmarkid = #{bookmarkid}
	</update>

 	<insert id="insertUser" parameterType="com.dapeng.domain.User">
		insert into user(user_name,user_pwd,user_email)
		values(#{user_name},#{user_pwd},#{user_email})
	</insert>
</mapper>

<!-- 	permission = #{permission,jdbcType=VARCHAR},
		categoryid = #{categoryid,jdbcType=VARCHAR},
		usetimes = #{usetimes,jdbcType=INTEGER},
		fastletters = #{fastletters,jdbcType=VARCHAR},
		pinyinhead = #{pinyinhead,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=VARCHAR},
		lastusetime = #{lastusetime,jdbcType=VARCHAR},
		updatetime = #{updatetime,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=INTEGER},
		hot = #{hot,jdbcType=VARCHAR},
		deleteflg = #{deleteflg,jdbcType=VARCHAR} -->