<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dapeng.dao.CategoryMapper">
	<resultMap id="BaseResultMap" type="com.dapeng.domain.Category">
		<id column="categoryid" property="categoryid" jdbcType="INTEGER" />
		<result column="categoryname" property="categoryname" jdbcType="VARCHAR" />
		<result column="categorytype" property="categorytype" jdbcType="VARCHAR" />
		<result column="parentcategoryid" property="parentcategoryid"
			jdbcType="VARCHAR" />
		<result column="categorypermission" property="categorypermission"
			jdbcType="VARCHAR" />
		<result column="categorypsw" property="categorypsw" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="categoryno" property="categoryno" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		categoryid, categoryname, categorytype, parentcategoryid, categorypermission,
		categorypsw,
		createtime, updatetime,userid ,categoryid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from category
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from category
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dapeng.domain.Category">
		insert into category (categoryname, categorytype,
		parentcategoryid, categorypermission, categorypsw,
		createtime, updatetime, userid, categoryno)
		values (#{categoryname,jdbcType=VARCHAR},
		#{categorytype,jdbcType=VARCHAR},
		#{parentcategoryid,jdbcType=INTEGER},
		#{categorypermission,jdbcType=VARCHAR},
		#{categorypsw,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
		#{userid,jdbcType=VARCHAR},
		#{categoryno,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.dapeng.domain.Category">
		insert into category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryname != null">
				categoryname,
			</if>
			<if test="categorytype != null">
				categorytype,
			</if>
			<if test="parentcategoryid != null">
				parentcategoryid,
			</if>
			<if test="categorypermission != null">
				categorypermission,
			</if>
			<if test="categorypsw != null">
				categorypsw,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="categoryno != null">
				categoryno,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="categoryname != null">
				#{categoryname,jdbcType=VARCHAR},
			</if>
			<if test="categorytype != null">
				#{categorytype,jdbcType=VARCHAR},
			</if>
			<if test="parentcategoryid != null">
				#{parentcategoryid,jdbcType=INTEGER},
			</if>
			<if test="categorypermission != null">
				#{categorypermission,jdbcType=VARCHAR},
			</if>
			<if test="categorypsw != null">
				#{categorypsw,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="categoryno != null">
				#{categoryno,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dapeng.domain.Category">
		update category
		<set>
			<if test="categoryname != null">
				categoryname = #{categoryname,jdbcType=VARCHAR},
			</if>
			<if test="categorytype != null">
				categorytype = #{categorytype,jdbcType=VARCHAR},
			</if>
			<if test="parentcategoryid != null">
				parentcategoryid = #{parentcategoryid,jdbcType=INTEGER},
			</if>
			<if test="categorypermission != null">
				categorypermission = #{categorypermission,jdbcType=VARCHAR},
			</if>
			<if test="categorypsw != null">
				categorypsw = #{categorypsw,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="categoryno != null">
				categoryno = #{categoryno,jdbcType=INTEGER},
			</if>
		</set>
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dapeng.domain.Category">
		update category
		set categoryname = #{categoryname,jdbcType=VARCHAR},
		categorytype = #{categorytype,jdbcType=VARCHAR},
		parentcategoryid = #{parentcategoryid,jdbcType=INTEGER},
		categorypermission = #{categorypermission,jdbcType=VARCHAR},
		categorypsw = #{categorypsw,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		updatetime = #{updatetime,jdbcType=TIMESTAMP},
		userid = #{userid,jdbcType=VARCHAR},
		categoryno = #{categoryno,jdbcType=INTEGER}
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</update>
	<!-- 书签类别操作 -->
	<select id="selectCategoryList" parameterType="java.lang.String"
		resultType="com.depeng.web.bo.CategoryMiniBO">
		select categoryid as i, categoryname as n 
		from category
		where userid = #{userid,jdbcType=VARCHAR}
		order by createtime desc
	</select>
	<select id="selectCategoryListById" parameterType="int"
		resultType="com.dapeng.domain.Category">
		select * from category
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</select>
	<delete id="deleteCategoryById" parameterType="int">
		delete from
		category
		where categoryid = #{categoryid,jdbcType=INTEGER}
	</delete>
	<update id="updateCategoryByUnique" parameterType="com.dapeng.domain.Category">
		update category
		set categoryname = #{categoryname,jdbcType=VARCHAR},
		updatetime = #{updatetime,jdbcType=TIMESTAMP}
		where categoryno = #{categoryno,jdbcType=INTEGER}
		and userid = #{userid,jdbcType=VARCHAR}
	</update>
	<!-- 获取插入的分类ID -->
	<select id="selectLastCategoryId" resultType="java.lang.Integer">
		select last_insert_id()
	</select>
	<!-- 获取当前用户下最大的分类编号 -->
	<select id="selectMaxCategoryNoByUserId" resultType="java.lang.Integer" 
		parameterType="java.lang.String">
		select IFNULL(max(categoryno),0)
		from category
		where userid = #{userid,jdbcType=VARCHAR}
	</select>
</mapper>